<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/findAll">返回用户列表</a>
<form action="/medituser/{{user.id}}" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td>
                <input name="username" type="text" value="{{user.username}}"/>
            </td>
        </tr>
        <tr>
            <td>角色：</td>
            <td>
                <input type="radio" {% if user.role == 1 %} checked {% endif %} name="role" value="1"/>生产商
                <input type="radio" {% if user.role == 2 %} checked {% endif %} name="role" value="2"/>承运商
                <input type="radio" {% if user.role == 3 %} checked {% endif %} name="role" value="3"/>经销商
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" onclick="return confirm('确定更改？')" value="更改"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>