<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<a href="/users/index">返回首页</a>
		<a href="/users/addlist">添加用户</a>
		<h2>用户列表</h2>
		<table id="tb">
			<tr>
				<th>用户名</th>
				<th>角色{1-生产商，2-承运商，3-经销商}</th>
				<th>操作</th>
			</tr>
			{%for user in users%}
			<tr>
				<td>{{user.username}}</td>
				<td>{{user.role}}</td>
				<td><a href="/medituser/{{user.id}}">修改</a>/<a href="/deleteUser?username={{user.username}}" onclick="return confirm('确认删除？')">删除</a></td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
