<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增商品</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <form>
        品名：<input type="text" name="name" id="name"><br>
        数量：<input type="number" name="number" id="number"><br>
        终点：<input type="text" name="dest" id="dest"><br>
        描述：<textarea rows="3" name="desc" id="desc"></textarea><br>
        <input type="reset" value="重置">
        <input type="button" value="确认" id="submit">
    </form>
    <a href="/products/list">返回商品列表</a>
<script>
    $(function(){
        $("#submit").click(function(){
            $.ajax({
                url: "/products/add",
                method: "POST",
                data: {
                    'name': $("#name").val(),
                    'number': $("#number").val(),
                    'dest': $("#dest").val(),
                    'desc': $("#desc").val()
                },
                success: function(response){
                    if('0' == response){
                        alert('添加失败！！！')
                    }
                    if('1' == response){
                        alert('添加成功！')
                    }
                }
            });
        });
    });
</script>
</body>
</html>